<header aria-label="Cabecera principal">
    <div class="navbar container">
      <div class="logo">
        <img src="/assets/logo_1.png" alt="OPV Drywall - Instalación y Acabado Profesional" />
      </div>
      <nav aria-label="Menú principal">
        <ul>
          <li><a href="/opv-drywall/">Inicio</a></li>
          <li><a href="/opv-drywall/acercaDe.html">Acerca de nosotros</a></li>
          <li><a href="/opv-drywall/galeria.html">Galería</a></li>
          <li><a href="/opv-drywall/preguntasFrecuentes.html">Preguntas frecuentes</a></li>
          <li><a href="/opv-drywall/nuestrosProgramas.html">Nuestros Programas</a></li>
          <li><a href="/opv-drywall/porqueOpv.html">Por qué OPV Drywall</a></li>
          <li><a href="/opv-drywall/testimonios.html">Testimonios</a></li>
          <li><a href="/opv-drywall/formRegistro.html">Registro</a></li>
          <li><a href="/opv-drywall/contactenos.html">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </header>
