<header aria-label="Cabecera principal">
    <div class="navbar container">
      <div class="logo">
        <img src="/assets/logo_1.png" alt="OPV Drywall - Instalación y Acabado Profesional" />
      </div>
      <nav aria-label="Menú principal">
        <ul>
          <li><a href="/index.html">Inicio</a></li>
          <li><a href="/src/pages/acercaDe.html">Acerca de nosotros</a></li>
          <li><a href="/src/pages/galeria.html">Galería</a></li>
          <li><a href="/src/pages/preguntasFrecuentes.html">Preguntas frecuentes</a></li>
          <li><a href="/src/pages/nuestrosProgramas.html">Nuestros Programas</a></li>
          <li><a href="/src/pages/porqueOpv.html">Por qué OPV Drywall</a></li>
          <li><a href="/src/pages/testimonios.html">Testimonios</a></li>
          <li><a href="/src/pages/formRegistro.html">Registro</a></li>
          <li><a href="/src/pages/contactenos.html">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </header>
